*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
	width:100%;

}
table {
      border-collapse: collapse;
      width: 100%;
      border: 4px solid #dea0ba;;
    }
    th, td {
      border: 3px solid #dea0ba;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}

@media (max-width:400px){
    
}